@page
@model LoginModel



<div class="auth-fluid-form-box" style="background: rgba(0,0,0,0.5);">
    <div class="align-items-center d-flex h-100">
        <div class="card-body">
            <!-- title-->
            <h2 class="mt-0" style="color:white; text-align:center">Sign In</h2>
            <h5 class=" mb-4" style="color:white">Enter your email address and password to access account.</h5>
            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- form -->
            <form id="account" method="post">
                <div class="form-group">
                    <label asp-for="Input.Email" style="color:white"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"style="color:white"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" style="color:white">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-login"></i> Log In </button>
                </div>
                <!-- social-->
                <div class="text-center mt-4">
                    <p class="font-16" style="color:white">Sign in with</p>
                    <ul class="social-list list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                        </li>
                    </ul>
                </div>
            </form>
            <!-- end form-->
            <!-- Footer-->
            <footer class="footer footer-alt">
                <p  style="color:white">Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><b>Sign Up</b></a></p>
            </footer>

        </div> <!-- end .card-body -->
    </div> <!-- end .align-items-center.d-flex.h-100-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
