
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>FPT Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}' style="background: url('@Url.Content("~/images/whale.jpg")')">

    <div class="auth-fluid" >
        <!--Auth fluid left content -->
        @RenderBody()
        <!-- end auth-fluid-form-box-->
        <!-- Auth fluid right content -->
        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <h2 class="mb-3">I love books!</h2>
                <p class="lead">
                    <i class="mdi mdi-format-quote-open"></i> Reading book is opening new world <i class="mdi mdi-format-quote-close"></i>
                </p>
                <p>
                    - Account Book
                </p>
            </div> <!-- end auth-user-testimonial-->
        </div>
        <!-- end Auth fluid right content -->
    </div>
    <!-- end auth-fluid-->
    <!-- bundle -->
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/app.min.js"></script>
    @*<script type="text/javascript">


        function disableBackButton() {
            window.history.forward();
        }
        setTimeout("disableBackButton()", 0);
    </script>*@

    @RenderSection("Scripts", required: false)
</body>

</html>