@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{
	<ul class="list-unstyled topbar-right-menu float-right mb-0">
		<li class="dropdown notification-list d-lg-none">
			<a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
				<i class="dripicons-search noti-icon"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
				<form class="p-3">
					<input id="searchText" type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
				</form>
			</div>
		</li>
		<li class="dropdown notification-list">
			<a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
				<span class="account-user-avatar">
					<img src="/images/Omini.png" alt="user-image" class="rounded-circle">
				</span>
				<span>
					<span class="account-user-name">BOOK STORE UTC</span>
				</span>
			</a>
			<div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
				<!-- item-->
				<div class=" dropdown-header noti-title">
					<h6 class="text-overflow m-0">Welcome !</h6>
				</div>

				<!-- item-->
				<a class="dropdown-item notify-item" asp-controller="Customer" asp-action="UserView">
					<i class="mdi mdi-account-circle mr-1"></i>
					<span>My Account</span>
				</a>
				<a asp-controller="Customer" asp-action="ViewOrder" class="dropdown-item notify-item"> <i class="mdi mdi-account-circle mr-1"></i> <span>My Order</span> </a>
				<a asp-controller="Customer" asp-action="ViewCart" class="dropdown-item notify-item"> <i class="mdi mdi-account-circle mr-1"></i> <span>Shopping Cart</span> </a>
				<!-- item-->
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="dropdown-item notify-item"> <i class="mdi mdi-logout mr-1"></i>Logout</button>
				</form>
			</div>
		</li>
	</ul>
}
else
{
	<ul class="list-unstyled topbar-right-menu float-right mb-0">
		<li class="dropdown notification-list d-lg-none">
			<a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
				<i class="dripicons-search noti-icon"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
				<form class="p-3">
					<input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
				</form>
			</div>
		</li>
		<li class="dropdown notification-list topbar-dropdown">
			<a class="nav-link dropdown-toggle arrow-none" asp-area="Identity" asp-page="/Account/Register" style="font-size:17px"><i class=" mdi mdi-registered-trademark"></i>Register</a>
		</li>
		<li class="dropdown notification-list topbar-dropdown">
			<a class="nav-link dropdown-toggle arrow-none" asp-area="Identity" asp-page="/Account/Login" style="font-size:17px">Login</a>
		</li>
	</ul>
}
<div class="container-fluid">
	<!-- LOGO -->
	<a asp-controller="Customer" asp-action="Index" class="topnav-logo">
		<span class="topnav-logo-lg">
			<img src="~/images/onepiece.png" alt="logo" height="40px">
		</span>
		<span class="topnav-logo-sm">
			<img src="~/images/onepiece.png" alt="" height="40px">
		</span>
	</a>
	<ul class="list-unstyled topbar-right-menu float-right mb-0">
		<li class="dropdown notification-list d-lg-none show">
			<a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
			   aria-haspopup="false" aria-expanded="true">
				<i class="dripicons-search noti-icon"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0 show"
				 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(10px, 70px, 0px);"
				 x-placement="bottom-start">
				<form asp-controller="Customer" asp-action="Search" method="post">
					<input type="text" class="form-control" placeholder="Search ..."
						   aria-label="Recipient's username" name="productname">
				</form>
			</div>
		</li>
	</ul>
	<div class="app-search dropdown">
		@{
			var getUrl = "https://localhost:5001/api/ProductsAPI/search=";
		}
		<form asp-controller="Customer" asp-action="Search">
@*		<form onsubmit="showProductsBySearch('@getUrl'+document.getElementById('searchText').innerHTML; return false;">
*@			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." id="top-search"
					   style="border-radius: 15px; margin-right: 15px" name="search">
				<span class="mdi mdi-magnify search-icon"></span>
				<div class="input-group-append">
					<button class="btn btn-primary" type="submit" style="border-radius: 15px">Search</button>
				</div>
			</div>
		</form>
	</div>
	<ul class="list-unstyled topbar-right-menu float-left mb-0">
		<li class="dropdown notification-list topbar-dropdown">
			<a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
			   aria-haspopup="false" aria-expanded="false">
				<i class="uil-github"></i>
				<span class="align-middle d-none d-sm-inline-block" style="font-size: 17px">Category</span> <i class="mdi mdi-chevron-down d-none d-sm-inline-block align-middle"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu">
				<!-- item-->
				@*@foreach (var item in ViewBag.Categories)
				{
					<a asp-controller="Customer" asp-action="Index2" asp-route-Id="@item.Id" class="dropdown-item notify-item">
						<span class="align-middle">@item.Name</span>
					</a>
				}*@
				@await Component.InvokeAsync("CategoryMenu")
			</div>
		</li>
	</ul>
</div>

 <script>
	function showProductsBySearch(getUrl) {
		var str = '';
		$.ajax({
			type: 'GET',
			url: getUrl,
			dataType: 'json',
			success: function (data) {
				$.each(data, function (key, val) {
					console.log(getUrl);
					str += `
<div class="col-md-6 col-xl-3" >
                                <!-- project card -->
                                <div class="card d-block text-dark" style="width: 300px; height: 300px; margin: 50px 0px 0px 0px; box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25),
  0 5px 15px 0 rgba(0, 0, 0, 0.12)">
                                    <!-- project-thumbnail -->
                                    <img class="card-img-top" src="${val.image1}"
                                         alt="project image cap" style="height: 100%; width:100%">

                                    <div class="card-body position-relative" style="padding-left: unset; padding-right: unset; margin-bottom: 9px ">
                                        <!-- project title-->
                                        <h4 class="mt-0">
                                        <a asp-controller="Customer" asp-action="Details" asp-route-id="${val.id}">
                                               <class="text-title">${val.name}

                                               </a>
                                        </h4>

                                        <!-- project detail-->
                                        <p class="mb-3">
                                            <span class="pr-2 text-nowrap">
                                            <i class=" dripicons-shopping-bag"></i>

													"await Component.InvokeAsync("Category",${val.categoryId})"
                                                
                                            </span>
                                            
                                            <span class="text-nowrap">
                                            <i class="uil uil-usd-circle"></i>
                                                <b>Price: $${val.price}</b>
                                            </span>
                                            <br>
                                            <span class="text-nowrap">
                                                <i class="uil-atom"></i>
                                            <b>Quantity: ${val.quantity}</b>
                                                
                                            </span>
                                        </p>

                                        <!-- project progress-->
                                    @{
                                        Random rnd = new Random();
                                        // This will return either 1 or 2 randomly.
                                        int question = rnd.Next(1, 100);
                                    }
                                        <p class="mb-2 font-weight-bold">Most people like <span
                                                class="float-right">@question%</span>
                                        </p>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="45"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: @question%;">
                                            </div><!-- /.progress-bar -->
                                        </div><!-- /.progress -->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>`

				});
				$('#divmain').html(str);
			},
			Error: function (xhr) {
				alert(xhr.responeText);
			}
		})
	}
</script>