@model NotUseAuto.Models.Category

@if (User.Identity.IsAuthenticated && User.IsInRole("Owner"))
{
    <h1 style="color: red;">Are you sure to delete this category</h1>
    <div>
        <br />
    </div>


    <h3>Category Details</h3>
    <div>
        <br />
    </div>

    <form asp-controller="Category" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" class="form-control" />
        <input type="hidden" asp-for="Name" class="form-control" />
        <input type="hidden" asp-for="Description" class="form-control" />
        <input type="hidden" asp-for="Status" class="form-control" />
        <h4>Name: @Model.Name</h4>
        <h4>Description: @Model.Description</h4>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        <div>
            <br>
        </div>
    </form>

    <a asp-controller="Products" asp-action="Index" class="btn btn-dark">Cancel</a>
}





